# PERFIL CLIENTE VENTAS SEGUROS

Teniendo el dataset las siguientes columnas:
- CCLIEN	Código del cliente que le identifica en las BBDD de la entidad
- COD EDAD	Edad del cliente
- FEC_ALTA	Fecha en la que el cliente se dio de alta en la entidad con su primer producto
- COD_TERRIT	Código de territorial en la que reside el cliente (ver catálogo)
- SALDO CUENTA	Saldo disponible a fin de mes en la cuenta personal en la que el cliente es 1er Titular
- IMPORTE PPI	Saldo disponible a fin de mes en el contrato de PPI (planes pensiones individual) en el que el cliente es 1er Titular
- IMPORTE HIPOTECA	Capital pendiente a fin de mes en el contrato de Hipoteca en el que el cliente es Titular en cualquier orden
- IMPORTE PLAZO	Saldo disponible a fin de mes en el contrato de Plazo en el que el cliente es 1er Titular
- IMPORTE FONDOS	Saldo disponible a fin de mes en el contrato de Fondos de Inversión en el que el cliente es 1er Titular
- XTI_IDEFISCO	Identificación fiscal cliente (ver catálogo)
- SEGURO HOGAR	Tenencia (1 ó 0) de Seguro de Hogar
- SEGURO VIDA	Tenencia (1 ó 0) de Seguro de Vida
- SEGURO COCHE	Tenencia (1 ó 0) de Seguro de Coche

Desde Negocio nos piden incrementar las ventas de Seguros de Hogar y Seguros de Vida.
Para ello nos piden que analicemos el perfil de los clientes que disponen de Seguro de Hogar / Vida y que en función de las variables de que disponemos, les demos alguna conclusión accionable que les permita organizar su estrategia de venta.

### Abrir el fichero de datos

In [18]:
# YOUR CODE HERE
import pandas as pd
df=pd.read_csv('C:/Users/nicol/OneDrive/Documentos/VSCLocal/Data/datos/006/2. PERFIL CLIENTE_ VENTAS SEGUROS.csv')

### Filtros
Es un problema de clientes particulares, así tendremos que filtrar a las personas jurídicas, que si comprobamos en el catálogo, se seleccionan por XTI_IDEFISCO = 2 Ó 3
Los menores de edad no aplican para la venta de seguros, así que tendremos que filtrar mayores de 18 años

In [19]:
# YOUR CODE HERE
df[(~df['XTI_IDEFISCO'].isin([2,3]))&(df['COD EDAD']>18)]
df

,CCLIEN,COD EDAD,FEC_ALTA,COD_TERRIT,SALDO CUENTA,IMPORTE PPI,IMPORTE HIPOTECA,IMPORTE PLAZO,IMPORTE FONDOS,XTI_IDEFISCO,SEGURO HOGAR,SEGURO VIDA,SEGURO COCHE
0,24113,48,9/3/1983,1964,97351,9027,270233.0,0,0,1,1,1.0,0
1,24504,34,30/8/2007,51,94837,6044,285799.0,0,10785,1,1,1.0,0
2,69383,25,13/7/1979,8302,95180,6784,185803.0,7126,0,1,1,1.0,0
3,43964,71,5/1/2015,63,80999,9479,0.0,0,0,1,1,0.0,0
4,39177,30,21/9/1977,1525,7428,8977,93622.0,29713,0,1,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,68582,51,5/10/1983,1964,38715,3529,40232.0,0,17465,1,1,1.0,0
996,93011,46,16/8/1981,72,23578,1797,0.0,0,0,1,1,0.0,1
997,82051,44,28/12/2007,63,2536,0,0.0,0,0,1,1,1.0,0
998,21777,67,2/9/1975,1523,66623,5212,0.0,60530,10852,1,0,0.0,0
999,36153,41,28/7/1999,72,30701,0,0.0,89572,11181,1,1,0.0,0

#### Limpieza de datos
Comprobamos si hay missing values, sustituyéndolos por 0

In [20]:
# YOUR CODE HERE
df.isnull().sum()

CCLIEN               0
COD EDAD             0
FEC_ALTA             1
COD_TERRIT           0
SALDO CUENTA         0
IMPORTE PPI          0
IMPORTE HIPOTECA    76
IMPORTE PLAZO        0
IMPORTE FONDOS       0
XTI_IDEFISCO         0
SEGURO HOGAR         0
SEGURO VIDA         15
SEGURO COCHE         0
dtype: int64

In [21]:
df.fillna(0, inplace=True)
df.isnull().sum()

CCLIEN              0
COD EDAD            0
FEC_ALTA            0
COD_TERRIT          0
SALDO CUENTA        0
IMPORTE PPI         0
IMPORTE HIPOTECA    0
IMPORTE PLAZO       0
IMPORTE FONDOS      0
XTI_IDEFISCO        0
SEGURO HOGAR        0
SEGURO VIDA         0
SEGURO COCHE        0
dtype: int64

#### Seguros de Hogar o Seguros de Vida
Generamos variables contador:
- Contador de tenencia de Seguros de Hogar o Seguros de Vida
- Contador de tenencia de contrato de Hipoteca
- Contador de tenencia de contrato de Plazo
- Contador de tenencia de contrato de Fondos de Inversión
- Contador de tenencia de contrato de Plan de Pensiones
- Para poder analizar el perfil por edades, vamos a crear 2 tramos: entre 18 y 55 y mayores de 55 años

In [46]:
# YOUR CODE HERE
import numpy as np
df_limpio=df
df_limpio['SEGURO_HOGAR_O_VIDA'] = np. where((df_limpio['SEGURO HOGAR'] != 0) | (df_limpio['SEGURO VIDA'] != 0), 1, 0)
df_limpio['HIPOTECA'] = np.where(df_limpio[ 'IMPORTE HIPOTECA'] > 0, 1, 0)
df_limpio['PLAZO'] = np.where(df_limpio['IMPORTE PLAZO'] > 0, 1, 0)
df_limpio['FONDOS'] = np.where(df_limpio[ 'IMPORTE FONDOS']> 0, 1, 0)
df_limpio['PPI'] = np.where(df_limpio[ 'IMPORTE PPI']>0,1,0)

#### Analizamos la tenencia de seguros de Hogar o de Vida por tramo edad:

In [47]:
# YOUR CODE HERE
df_limpio['GRUPO']=df['COD EDAD'].apply(lambda x:'MAYOR55' if x>55 else 'MENOR55')
df_limpio.head()

,CCLIEN,COD EDAD,FEC_ALTA,COD_TERRIT,SALDO CUENTA,IMPORTE PPI,IMPORTE HIPOTECA,IMPORTE PLAZO,IMPORTE FONDOS,XTI_IDEFISCO,SEGURO HOGAR,SEGURO VIDA,SEGURO COCHE,SEGURO_HOGAR_O_VIDA,HIPOTECA,PLAZO,FONDOS,FONDOS,GRUPO,PPI
0,24113,48,9/3/1983,1964,97351,9027,270233.0,0,0,1,1,1.0,0,1,1,0,0,0,MENOR55,1
1,24504,34,30/8/2007,51,94837,6044,285799.0,0,10785,1,1,1.0,0,1,1,0,1,1,MENOR55,1
2,69383,25,13/7/1979,8302,95180,6784,185803.0,7126,0,1,1,1.0,0,1,1,1,0,0,MENOR55,1
3,43964,71,5/1/2015,63,80999,9479,0.0,0,0,1,1,0.0,0,1,0,0,0,0,MAYOR55,1
4,39177,30,21/9/1977,1525,7428,8977,93622.0,29713,0,1,1,0.0,0,1,1,1,0,0,MENOR55,1

#### Vemos si hay relación entre productos, si la tenencia de seguros está relacionada con algún otro producto:

In [48]:
# YOUR CODE HERE
df_limpio.groupby('SEGURO_HOGAR_O_VIDA').agg({'SEGURO_HOGAR_O_VIDA':"count",
                                            'HIPOTECA':["sum",lambda x:(x.sum()/float(x.count())*100)],
                                            'PLAZO':["sum",lambda x:(x.sum()/float(x.count())*100)],
                                            'FONDOS':["sum",lambda x:(x.sum()/float(x.count())*100)],
                                            'PPI':["sum",lambda x:(x.sum()/float(x.count())*100)],
                                                })

                    SEGURO_HOGAR_O_VIDA HIPOTECA            PLAZO             \
                                  count      sum <lambda_0>   sum <lambda_0>
SEGURO_HOGAR_O_VIDA
0                                   481       10   2.079002   223  46.361746
1                                   519      292  56.262042   226  43.545279

                    FONDOS             PPI
                       sum <lambda_0>  sum <lambda_0>
SEGURO_HOGAR_O_VIDA
0                      174  36.174636  184  38.253638
1                      210  40.462428  321  61.849711

En este punto deberíamos consultar a los conocedores del Negocio / Productos, para ver si esta relación entre productos está motivada por algo en especial.

Nos aclaran que cuando se concede una Hipoteca, para conseguir un mejor precio, se pide la contratación de productos adicionales como Seguro de Vida, Hogar o Planes de Pensiones.

Por lo tanto deberíamos eliminar de nuestro análisis los clientes con hipoteca, ya que no nos darán una estrategia de aumento de ventas de seguros.

Centramos nuestro análisis entonces en los Seguros de Venta Libre (es decir, a los que no están vinculados a la hipoteca).

#### Volvemos a hacer el análisis eliminando aquellos vinculados a Hipotecas:

In [ ]:
# YOUR CODE HERE